body {
    /* margin: 0;
    background: rgba(85, 145, 197, 1); */
    /*background-color: #ccc;*/
    background-image:url(/images/shutterstock_212857660.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.main_logo {
    width: 800;
    height: 500;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 180;
}

.background {
    width:100vw;
    height:100vw;
    opacity: 50%;
}



.Box {
    margin: auto;
    position: relative;
    top: 50;
    width: 500px;
    height: 170;
    text-align: center;
    background-color: white;
    border-radius: 12px;
}
.select {
    
    margin: auto;
    position: relative;
    top: 30;
}

.packingBtn {
    background-color:rgba(85, 145, 197, 1);
    width: 180;
    height: 50;
    margin: auto;
    position: relative;
    top: 50;
    
    border-radius: 12px;
    text-align: center;
    font-size: 20;
    color: white;
}
.UploadBtn {
    background-color:rgba(85, 145, 197, 1);
    width: 180;
    height: 50;
    margin: auto;
    position: relative;
    top: 50;
    
    border-radius: 12px;
    text-align: center;
    font-size: 20;
    color: white;
}

body {
    overflow: hidden; /* Hide scrollbars */
    } 